* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.login {
    padding: 30px;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 450px;
    margin: 0 auto;
    width: 450px;
    padding: 60px 50px 50px;
    text-align: center;
    border-radius: 10px;
    display: block;
    min-height: 450px;
}


.input-login {
    font-family: 'Text Me One';
    outline: 0;
    background: transparent;
    width: 300px;
    margin: 0 0 13px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #040319;
    padding-top: 6rem;
    text-align: center;
    margin-top:3rem;
}

.input2 {
    font-family: 'Text Me One';
    outline: 0;
    background: transparent;
    width: 300px;
    margin: 0 0 13px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color:#040319;
    text-align: center;
}

.botão {
    font-family: 'Text Me One';
    text-transform: uppercase;
    outline: 0;
    background: #11a08f;
    width: 130px;
    border: 0;
    padding: 9px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: ease 0.3s;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
}
.botão:hover{
    background-color:#9600ed;
}
body {
    background: #fff;
}

.p {
    font-family: 'Text Me One';
    font-size: 62px;
    text-align: center;
}
