body {
    font-size: 1.8vh;
}

input {
    background: rgba(239, 23, 77, 0.6);
    border: none;
    width: 70%;
    height: 30px;
    min-height: 30px;
    border-radius: 3px;
    padding: 1vh 1vw;
    margin-right: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.home {
    display: flex;
    margin: 5vh;
    max-width: 90vw;
    max-height: 70vh;
    height: 70vh;
    justify-content: space-between;
}

    .home * {
        text-align: center;
        justify-content: center;
    }

.content_account {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 25vw;
    width: 25vw;
    padding: 5vh 1vh;
    border: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
}

.content_account * {
    margin: 1vh;
}

.button_register {
    background: rgba(17, 160, 143,1);
    border: none;
    border-radius: 3px;
    width: 70%;
    transition: ease-in 0.3s;
    cursor: pointer;
}

    .button_register:hover {
        background: rgba(17, 160, 143, 0.6);
    }

.content_download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vw;
    padding: 5vh;
    border: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.8);
}

    .content_download * {
        margin: 0;
        padding: 3vh 0;
    }

    .content_download a {
        background: rgba(17, 160, 143,1);
        border: none;
        padding: 30px 20px;
        border-radius: 100%;
        transition: ease-in 0.3s;
    }

        .content_download a:hover {
            background: rgba(17, 160, 143, 0.6);
        }

    .content_download span a {
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;
        color: rgba(17, 160, 143, 0.6);
    }

        .content_download span a:hover {
            background: 0;
            color: rgba(17, 160, 143,1);
        }

@media only screen and (max-width: 800px) {
    .home {
        flex-wrap: wrap;
    }

    .content_account {
        min-width: 75vw;
        width: 75vw;
    }

    .content_download {
        margin: 3vh 0;
        min-width: 75vw;
        width: 75vw;
    }
}
